<!-- IA INTERNATIONAL PERU - Header Component -->
<header id="header" class="header fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <div class="brand-container">
                    <img src="/assets/images/logo.65px.png" alt="">
                    <!-- <i class="fas fa-shield-alt brand-icon"></i>
                    <div class="brand-text">
                        <span class="brand-title">IA INTERNATIONAL</span>
                        <span class="brand-subtitle">PERU</span>
                    </div> -->
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#tecnologia">Tecnología</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary ms-2" href="index.html#cotizacion">
                            <i class="fas fa-calculator"></i> Cotizar
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>